* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.welcomeLoad,
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 3s;
  transition: background-color 3s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.name {
  font-size: 9rem;
  font-family: "Catamaran", sans-serif;
  color: #0e1111;
  -webkit-transition: color 3s;
  transition: color 3s;
}

.title,
.about {
  color: #0e1111;
  font-family: "Catamaran", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  -webkit-transition: color 3s;
  transition: color 3s;
}

.about {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  -webkit-transition: display 10s;
  transition: display 10s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
  z-index: 100;
}

.welcomeLoad {
  background-color: black;
}

.welcomeLoad .name {
  color: white;
}

.welcomeLoad .title {
  color: white;
}

.welcomeLoad .about {
  display: none;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300vw;
}

.works h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: #0e1111;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.work h3 {
  font-family: 'Catamaran', sans-serif;
  font-size: 5rem;
  letter-spacing: 5px;
  font-weight: 900;
}

.work .src_link {
  transform: rotate(90deg);
  -webkit-transform: rotate(-90deg);
  position: absolute;
  margin-top: 5rem;
  text-decoration: none;
  color: #0e1111;
}

.work p {
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;
}

.work span {
  font-size: 2rem;
  font-family: "Catamaran", sans-serif;
}

.blog {
  margin-top: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.blog h3 {
  margin-top: 4rem;
}

.blog img {
  height: 500px;
  margin-left: -2rem;
}

.chat {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
}

.chat h3 {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.chat .site_link, .chat img {
  width: 288px;
  height: 542px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 5rem;
}

.chat .stack_info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 10%;
}

.shop {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.shop h3 {
  font-family: 'Catamaran', sans-serif;
  font-size: 5rem;
  letter-spacing: 5px;
  font-weight: 900;
  margin-top: 6rem;
}

.shop img {
  max-width: 50vw;
  height: 100%;
}

.aboutPage {
  background: linear-gradient(90deg, black 21px, transparent 1%) center, linear-gradient(black 21px, transparent 1%) center, white;
  background-size: 22px 22px;
  width: 100%;
  height: 100%;
  color: #fffafa;
  overflow: hidden;
}

.about_section {
  padding: 10rem 2rem;
}

.about_section img {
  width: 400px;
  margin-top: 2rem;
  margin-left: 6rem;
  border: 2px solid white;
  border-radius: 2px;
}

.about_section span {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  font-family: "Catamaran", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: "Noto Sans JP", sans-serif;
}

.about_me {
  font-size: 3rem;
  font-family: "Catamaran", sans-serif;
  padding: 1rem 4rem;
  height: 100%;
  margin-top: -21rem;
}

.stacks {
  margin: 0 auto;
  width: 40%;
}

.stacks h3 {
  font-size: 38px;
}

.stacks p {
  font-size: 38px;
  font-family: "Catamaran", sans-serif;
  padding-left: 2rem;
}

.none {
  display: none;
}

@media (max-width: 768px) {
  * {
    font-size: 10px;
    position: static;
  }
  .work {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat > img {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}
/*# sourceMappingURL=styles.css.map */